.section {
    background-image: url("/assets/images/Illegal-Drugs.jpg");
    background-repeat: repeat;
    background-size: cover;
    height: 750px;
    color: rgb(255, 254, 251);
}

.text{
    
    padding-top: 300px;
}