
<ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link py-2 h1 fw-bold" routerLink="/users">Users</a>
    </li>
    <li class="nav-item">
      <a class="nav-link py-2 h1 fw-bold" routerLink="/add-user">Add User</a>
    </li>
    <li class="nav-item">
      <a class="nav-link py-2 h1 fw-bold" routerLink="/drugs">Drugs</a>
    </li>
    <li class="nav-item">
      <a class="nav-link py-2 h1 fw-bold" routerLink="/add-drug">Add Drug</a>
    </li>
    
    <li class="nav-item">
      <a class="nav-link py-2 h1 fw-bold" routerLink="/search">Search</a>
    </li>
  </ul>
