<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-md-2">
            <app-side-bar></app-side-bar>
        </div>
        <div class="col-md">
            <div class="row">
                <div class="col-md-6 p-3">
                    <h3 >Add New Drug</h3>
                    <form #form="ngForm" (ngSubmit)="onSubmit()" >
                        <div class="mb-3">
                            <label for="title">Title</label>
                            <input type="text" required class="form-control" name="title" [(ngModel)]="title" />
                        </div>
                        <div class="mb-3">
                            <label for="image">image</label>
                            <input type="file" required class="form-control" (change)="onChange($event)" />
                        </div>
                        <div class="mb-3">
                            <label for="description">Description</label>
                            <textarea required class="form-control" name="description" [(ngModel)]="description" cols="30" rows="10"></textarea>
                            
                        </div>
                        <div class="mb-3">
                            <label for="sideEffect">Side Effect</label>
                            <input type="text" class="form-control" name="sideEffect" [(ngModel)]="sideEffect" />
                        </div>
                        <div class="mb-3">
                            <label for="dosage">Dosage</label>
                            <input type="text" required class="form-control" name="dosage" [(ngModel)]="dosage" />
                        </div>
                        <div class="mb-3">
                            <label for="age">Age</label>
                            <input type="text" required class="form-control" name="age" [(ngModel)]="age" />
                        </div>
                        <div class="mb-3">
                            <label for="age">Manufacture Date</label>
                            <input type="date" required class="form-control" name="mfDate" [(ngModel)]="mfDate" />
                        </div>
                        <div class="mb-3">
                            <label for="age">Expiry Date</label>
                            <input type="date" required class="form-control" name="exDate" [(ngModel)]="exDate" />
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-success" [disabled]="form.invalid">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

